body {
  margin-top: 0;
}

section {
  background-color: lightgray;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 0.5em
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.meme {
  width: 50%;
  max-width: 500px;
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 1em auto;
  position: relative;
}

.meme div:first-child {
  position: absolute;
  width: 100%;
}

.meme div:nth-child(2) {
  position: absolute;
  bottom: 15%;
  width: 100%;

}

.meme img {
  position: relative;
  width: 100%;
  /* height: 100%; */
  z-index: -2;
  /* top: -30px; */
}

label {
  width: 100%;
  display: inline-block;
}

p input {
  width: 90%;
  display: inline;
}

#submit {
  display: block;
  margin: auto;
}
